.card {
  width: 250px;
  height: 260px;
  margin: 20px 10px;
  position: relative;

  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 4px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.26) 0 2px 4px 0;

  background-color: #ffffff;

  text-decoration: none;
  color: #000000;

  > div {
    min-height: 120px;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    > div {
      padding: 5px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin: 0px 0;
    }
  }

  .wh-image {
    width: 250px;
    height: 120px;
    background-color: #d8d8d8;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .author-details {
    display: flex;
    justify-content: space-around;

    .wh-person {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    .author-info {
      padding-left: 10px;
      flex-grow: 2;
      font-size: 14px;
      color: $shadow-text-color;
    }
  }

  &.new-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $body-backgroud-color;

    h3 {
      margin: 0px;
    }

    .plus-sign {
      height: 84px;
      font-size: 60px;
      font-weight: 300;
      text-align: center;
    }
  }

  .wh-icon,
  .share-container {
    display: none;
  }

  .favourite {
    display: block !important;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 22px;
    height: 20px;
  }

  &:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 4px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 4px 16px 0;
    box-shadow: rgba(0, 0, 0, 0.26) 0 4px 16px 0;

    .wh-icon {
      width: 24px;
      height: 24px;
      position: absolute;
      display: block;
      animation: 0.2s linear show;
      z-index: 3;

      &.heart-icon {
        right: 20px;
        bottom: 20px;
      }

      &.copy-icon {
        top: 10px;
        left: 20px;
      }

      &.trash-icon {
        top: 10px;
        right: 20px;
      }
    }
    .share-container {
      top: 30%;
      width: 100%;
      text-align: center;
      height: 20px;
      position: absolute;
      display: block;
      animation: 0.2s linear show;

      .share-content {
        display: flex;
        width: 98px;
        height: 28px;
        border-radius: 14px;
        border: solid 1px #979797;
        color: #ffffff;
        margin: 0 auto;
        justify-content: space-around;

        span {
          padding-right: 40px;
        }
      }
    }
  }

  .active {
    cursor: pointer;
  }

  @include keyframes(show) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @include keyframes(hide) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  &:hover::after {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
  }
}
