USE [wordhero_dev]
GO
/****** Object:  Table [dbo].[StudentResults]    Script Date: 10/30/2020 8:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NULL,
	[UpdateTime] [datetime2](7) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[WordHeroId] [int] NOT NULL,
 CONSTRAINT [PK_StudentResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordHeroConfigs]    Script Date: 10/30/2020 8:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordHeroConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[Preferences] [nvarchar](max) NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_WordHeroConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordHeroes]    Script Date: 10/30/2020 8:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordHeroes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsFavourite] [bit] NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SpidegramData] [nvarchar](max) NULL,
 CONSTRAINT [PK_WordHeroes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordResults]    Script Date: 10/30/2020 8:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](max) NULL,
	[UseCount] [int] NOT NULL,
	[StudentResultId] [int] NULL,
 CONSTRAINT [PK_WordResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 10/30/2020 8:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[WordHeroId] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentResults] ON 

INSERT [dbo].[StudentResults] ([Id], [StudentName], [UpdateTime], [GroupName], [WordHeroId]) VALUES (1, N'ss', CAST(N'2020-06-07T15:20:30.0140000' AS DateTime2), N'asdfsfd', 1)
INSERT [dbo].[StudentResults] ([Id], [StudentName], [UpdateTime], [GroupName], [WordHeroId]) VALUES (2, N'Nick', CAST(N'2020-06-07T21:28:30.0650000' AS DateTime2), N'beer me', 2)
INSERT [dbo].[StudentResults] ([Id], [StudentName], [UpdateTime], [GroupName], [WordHeroId]) VALUES (3, N'mateusz', CAST(N'2020-06-07T21:56:32.4240000' AS DateTime2), N'beer me', 2)
SET IDENTITY_INSERT [dbo].[StudentResults] OFF
SET IDENTITY_INSERT [dbo].[WordHeroConfigs] ON 

INSERT [dbo].[WordHeroConfigs] ([Id], [IsPublic], [Preferences], [LessonId]) VALUES (1, 0, N'{"font":"helvetica","backgroundImage":"linear-gradient(to bottom, rgba(246, 245, 248, 0.1), rgba(14, 0, 78, 0.3))"}', 1)
INSERT [dbo].[WordHeroConfigs] ([Id], [IsPublic], [Preferences], [LessonId]) VALUES (3, 0, N'{"font":"arial","backgroundImage":"linear-gradient(to bottom, rgba(246, 245, 248, 0.1), rgba(14, 0, 78, 0.3))"}', 3)
SET IDENTITY_INSERT [dbo].[WordHeroConfigs] OFF
SET IDENTITY_INSERT [dbo].[WordHeroes] ON 

SET IDENTITY_INSERT [dbo].[WordHeroes] OFF
SET IDENTITY_INSERT [dbo].[WordResults] ON 

INSERT [dbo].[WordResults] ([Id], [Word], [UseCount], [StudentResultId]) VALUES (1, N'aaa', 3, 1)
INSERT [dbo].[WordResults] ([Id], [Word], [UseCount], [StudentResultId]) VALUES (2, N'bbb', 0, 1)
INSERT [dbo].[WordResults] ([Id], [Word], [UseCount], [StudentResultId]) VALUES (3, N'Criticizing', 0, 2)
GO
SET IDENTITY_INSERT [dbo].[WordResults] OFF
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([Id], [Value], [WordHeroId]) VALUES (225, N'heartily approves', 2)
INSERT [dbo].[Words] ([Id], [Value], [WordHeroId]) VALUES (226, N'strenuously', 2)
INSERT [dbo].[Words] ([Id], [Value], [WordHeroId]) VALUES (227, N'object to', 2)
GO
SET IDENTITY_INSERT [dbo].[Words] OFF
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_StudentResults_WordHeroes_WordHeroId] FOREIGN KEY([WordHeroId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_StudentResults_WordHeroes_WordHeroId]
GO
ALTER TABLE [dbo].[WordHeroConfigs]  WITH CHECK ADD  CONSTRAINT [FK_WordHeroConfigs_WordHeroes_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WordHeroConfigs] CHECK CONSTRAINT [FK_WordHeroConfigs_WordHeroes_LessonId]
GO
ALTER TABLE [dbo].[WordResults]  WITH CHECK ADD  CONSTRAINT [FK_WordResults_StudentResults_StudentResultId] FOREIGN KEY([StudentResultId])
REFERENCES [dbo].[StudentResults] ([Id])
GO
ALTER TABLE [dbo].[WordResults] CHECK CONSTRAINT [FK_WordResults_StudentResults_StudentResultId]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_WordHeroes_WordHeroId] FOREIGN KEY([WordHeroId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_WordHeroes_WordHeroId]
GO
