USE [wordhero_dev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[WordHeroId] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentResults]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NULL,
	[UpdateTime] [datetime2](7) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[WordHeroId] [int] NOT NULL,
 CONSTRAINT [PK_StudentResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordHeroConfigs]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordHeroConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[Preferences] [nvarchar](max) NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_WordHeroConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordHeroes]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordHeroes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsFavourite] [bit] NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SpidegramData] [nvarchar](max) NULL,
 CONSTRAINT [PK_WordHeroes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordResults]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](max) NULL,
	[UseCount] [int] NOT NULL,
	[StudentResultId] [int] NULL,
 CONSTRAINT [PK_WordResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 09.11.2020 20:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[Id] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[WordHeroId] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200830151054_init', N'3.1.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200831143513_addQuestions', N'3.1.3')
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id], [Content], [WordHeroId]) VALUES (1002, N'Describe a trend in your country', 4)
INSERT [dbo].[Questions] ([Id], [Content], [WordHeroId]) VALUES (1003, N'Talk about a recent trend in your school', 4)
INSERT [dbo].[Questions] ([Id], [Content], [WordHeroId]) VALUES (1007, N'Discuss recent stories in the media using some of the reporting verbs in the spidergram.', 8)
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[StudentResults] ON 

INSERT [dbo].[StudentResults] ([Id], [StudentName], [UpdateTime], [GroupName], [WordHeroId]) VALUES (1, N'nondas', CAST(N'2020-11-04T11:24:27.1650000' AS DateTime2), N'fire', 4)
INSERT [dbo].[StudentResults] ([Id], [StudentName], [UpdateTime], [GroupName], [WordHeroId]) VALUES (2, N'bartosz', CAST(N'2020-11-04T11:41:17.7620000' AS DateTime2), N'gold', 4)
INSERT [dbo].[StudentResults] ([Id], [StudentName], [UpdateTime], [GroupName], [WordHeroId]) VALUES (3, N'piotr', CAST(N'2020-11-04T11:42:17.9870000' AS DateTime2), N'fire', 4)
SET IDENTITY_INSERT [dbo].[StudentResults] OFF
SET IDENTITY_INSERT [dbo].[WordHeroConfigs] ON 

INSERT [dbo].[WordHeroConfigs] ([Id], [IsPublic], [Preferences], [LessonId]) VALUES (3, 0, N'{"font":"arial","backgroundImage":"linear-gradient(to bottom, rgba(246, 245, 248, 0.1), rgba(14, 0, 78, 0.3))"}', 3)
INSERT [dbo].[WordHeroConfigs] ([Id], [IsPublic], [Preferences], [LessonId]) VALUES (4, 0, N'{"backgroundImage":"linear-gradient(rgba(180, 220, 255, 0.9), transparent), linear-gradient(-15deg, rgba(15, 122, 255, 0.3), transparent), linear-gradient(-45deg, rgba(15, 122, 255, 0.9), transparent)"}', 4)
SET IDENTITY_INSERT [dbo].[WordHeroConfigs] OFF
SET IDENTITY_INSERT [dbo].[WordHeroes] ON 

SET IDENTITY_INSERT [dbo].[WordHeroes] OFF
SET IDENTITY_INSERT [dbo].[WordResults] ON 

INSERT [dbo].[WordResults] ([Id], [Word], [UseCount], [StudentResultId]) VALUES (1, N'Crawl', 0, 1)
INSERT [dbo].[WordResults] ([Id], [Word], [UseCount], [StudentResultId]) VALUES (2, N'surge', 1, 1)
INSERT [dbo].[WordResults] ([Id], [Word], [UseCount], [StudentResultId]) VALUES (3, N'speed up', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[WordResults] OFF
INSERT [dbo].[Words] ([Id], [Value], [WordHeroId]) VALUES (N'000C81FA-2F78-47F5-92CB-47BF4A0C424E', N'missed the point', 5)
INSERT [dbo].[Words] ([Id], [Value], [WordHeroId]) VALUES (N'0042993F-C5DC-4044-9DB5-A71264B5E5DD', N'confess to', 8)
INSERT [dbo].[Words] ([Id], [Value], [WordHeroId]) VALUES (N'00C924D1-4394-4EE8-BB37-AB667B55AB6D', N'don''t mind', 7)
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_WordHeroes_WordHeroId] FOREIGN KEY([WordHeroId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_WordHeroes_WordHeroId]
GO
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_StudentResults_WordHeroes_WordHeroId] FOREIGN KEY([WordHeroId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_StudentResults_WordHeroes_WordHeroId]
GO
ALTER TABLE [dbo].[WordHeroConfigs]  WITH CHECK ADD  CONSTRAINT [FK_WordHeroConfigs_WordHeroes_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WordHeroConfigs] CHECK CONSTRAINT [FK_WordHeroConfigs_WordHeroes_LessonId]
GO
ALTER TABLE [dbo].[WordResults]  WITH CHECK ADD  CONSTRAINT [FK_WordResults_StudentResults_StudentResultId] FOREIGN KEY([StudentResultId])
REFERENCES [dbo].[StudentResults] ([Id])
GO
ALTER TABLE [dbo].[WordResults] CHECK CONSTRAINT [FK_WordResults_StudentResults_StudentResultId]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_WordHeroes_WordHeroId] FOREIGN KEY([WordHeroId])
REFERENCES [dbo].[WordHeroes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_WordHeroes_WordHeroId]
GO
