$light-gray: #707070;
$gray: #605f5f;
$dark-gray: #403f3f;
$light-blue: rgba(36, 123, 160, 1);
$green: rgba(112, 193, 179, 1);
$light-green: rgba(178, 219, 191, 1);
$salmon: rgba(243, 255, 189, 1);
$light-red: rgba(255, 22, 84, 1);
$body-backgroud-color: #f3f3f3;
$form-backgroud-color: #fff;

$font-weight: 400;
$padding: 2em 4em;
$small-pading: 10px;

$footer-height: 150px;

$basic-font-family: Poppins;
$shadow-text-color: #838383;
$primary-color: #000000;
$yellow-color: #ffc107;
$primary-font-color: #4f34c7;
// font-size: 14px;
// font-weight: normal;
// font-stretch: normal;
// font-style: normal;
// line-height: normal;
// letter-spacing: normal;

$breakpoint-phone: 750px;
$breakpoint-tablet: 1440px;
